.header{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.header li i{
    font-size: 20px;
}

.heading{
    margin: 20px;
}

.listing-card{
    width:360px;
    cursor:pointer;
}

.listing-card img{
    border-radius: 15px;
}
.listings{
    margin: 20px;
    display: flex;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
}

.new-listing form input{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(254, 110, 134);
    outline: none;
}

.new-listing form input:focus{
    border: 2px solid rgb(237, 82, 108);
    box-shadow: 1px 1px 1px 1px rgb(244, 101, 125) ;
}

.listing-btn{
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(252, 68, 99);
    border: none;
    color: white;
    outline: none;
}

.listing-card:hover{
    opacity: 70%;
}

.w-70 {
    width: 70%;
}

a, li{
    text-decoration: none !important;
    font-style: none
}

.checked {
    color: orange;
  }
